<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Password Generator</h1>
        <br>
        <a href="{% url 'about' %}">About </a>
        <br>
        <form action="{% url 'password' %}" method="POST">
            {% csrf_token %}
            No. of characters :
            <select name="charlen">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected='selected'>12</option>
            </select>
            <br>
            <input type="checkbox" name="uppercase"> Uppercase
            <br>
            <input type="checkbox" name="numbers"> Numbers
            <br>
            <input type="checkbox" name="specialchars"> Special Characters
            <br>
            <input type="submit" value="Generate" class="btn btn-primary">
        </form>
    </div>

</body>

</html>